

    page-home {
 /*    .section-left{
         padding-right: 70%;
      //   padding-left: 200px;
     }
     .section-right{
        //padding-right: 70%;
      padding-left: 70%;
      padding-top: 0%;
    }*/
    }

